body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    heght: 100%;
    width: 100%;
}

.unit {
    height: 300px;
    width: 100%;
}

.unit:nth-of-type(odd) {
    border-bottom: 2px solid #F39C23;
}

.unit:nth-of-type(even) {
    border-bottom: 2px solid #6BD569;
}

.unit:nth-of-type(1) {
    background-image: url('media/bg.jpeg');
    background-size: cover;
    background-position: center;
}

.unit:nth-of-type(2) {
    background: #333;
}

.unit:nth-of-type(3) {
    background: #F39C23;
}

#top-text-inner {
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#top-text h1 {
    margin: 0
}

@keyframes fox-logo-img {
    50% {
        width: 150px;
        height: 150px;
    }
    100% {
        transform: rotate(360deg);
    }
}

#fox-logo img {
    width: 100px;
    height: 100px;
}

#top-text {
    width: 300px;
    height: 100%;
    margin: auto;
    text-shadow: 2px 2px rgba(243, 156, 35, 0.3);
}

#top-text:hover img {
    transition: 1s;
    animation-name: fox-logo-img;
    animation-duration: 1s;
}
