//output: ../index.html
doctype html
head
	title imnofox
	link(href='https://cdn.rawgit.com/be5invis/Iosevka/gh-pages/fonts.css', rel='stylesheet', type='text/css')
	link(href='css/style.css', rel='stylesheet', type='text/css')
body
	h1.light imnofox
