// out: ../css/style.css, compress: true, nib: true, sourcemap: false

@import 'nib'
@import '../bower_components/normalize.styl/normalize.styl'

html, body
	height: 100%

body
	background-color: #292f34
	position: relative
	color: #1abc9c
	font-family: 'IosevkaWEB', monospace

h1
	width: 100%
	text-align: center
	position: absolute
	top: 50%
	transform: translateY(-50%)
